CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
REDIRECT_URL=your_redirect_url_here (recommended: http://127.0.0.1:8888/callback)

# to use this .env file replace the placeholder with your Spotify API credentials
# after that, rename this file to .env